---
import type { MarkdownHeading } from 'astro';

import type { CategoryWithContent } from '../utils/content';

import ContentSidebar from '../components/content-sidebar.astro';
import TableOfContents from '../components/table-of-contents.astro';
import Layout from './default-layout.astro';

interface Props {
  activeId?: string;
  ariaLabel?: string;
  description?: string;
  headings?: MarkdownHeading[];
  navigation: CategoryWithContent[];
  showToc?: boolean;
  title: string;
}

const { activeId, ariaLabel, description, headings = [], navigation, showToc = true, title } = Astro.props;
---

<Layout description={description} title={title}>
  <div class="container py-5">
    <div class="d-flex">
      <!-- 側邊導覽 -->
      <div class="flex-shrink-0">
        <ContentSidebar activeId={activeId} ariaLabel={ariaLabel} navigation={navigation} />
      </div>

      <!-- 內文 -->
      <div class="flex-grow-1">
        <slot />
      </div>

      <!-- 目錄 -->
      {
        showToc && headings.length > 0 && (
          <div class="d-none d-lg-block flex-shrink-0" style={{ width: '200px' }}>
            <TableOfContents headings={headings} variant="desktop" />
          </div>
        )
      }
    </div>
  </div>
</Layout>
